{% extends 'base.html' %}
{% block title %}Music{% endblock %}
{% block content %}
<div class="alert alert-warning" id="message"></div>
<div class="text-center">
    <a class="btn btn-outline-primary pull-left" href="#">{{ now.song_name }}</a>
    <div class="row pull-right">
    <div class="btn-group mr-3" role="group">
        <a class="btn btn-outline-primary" href="?command=start"><i class="fa fa-play" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="?command=pause"><i class="fa fa-pause" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="?command=next"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
    </div>
    <form class="form-inline" onsubmit="ajaxSubmit();return false;">
        <input class="form-control mr-sm-2" type="text" name="name" id="id_name" placeholder="歌名/链接">
        <button class="btn btn-outline-primary d-none d-md-block" type="button" onclick="ajaxSubmit();">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
    </div>
{#    <div class="btn-group pull-right" role="group">#}
{#        <a class="btn btn-outline-primary" href="?command=vup"><i class="fa fa-volume-up" aria-hidden="true"></i></a>#}
{#        <a class="btn btn-outline-primary" href="?command=vdown"><i class="fa fa-volume-down" aria-hidden="true"></i></a>#}
{#    </div>#}
</div>
<progress value='{{ now.time }}' max='{{ now.tottime }}' class="progress-bar-info col-12" id="id_progress"></progress>
{% if data_list %}
<p></p>
<table class="table table-striped table-sm">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Del</th>
    </thead>
    <tbody>
        {% for music in data_list %}
        <tr>
            <td><a href="{{ music.ori }}">{{ music.song_id }}</a></td>
            <td><a href="?id={{ music.song_id }}">{{ music.song_name }}</a></td>
            <td>{{ music.ar }}</td>
            <td>{{ music.al }}</td>
            <td>
                <a class="btn btn-outline-primary d-none d-md-block" href="music/del?id={{ music.song_id }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">None</p>
{% endif %}
{% endblock %}
{% block script %}
<script>
    $('#message').hide();

    function ajaxSubmit() {
        $('#message').html('申请已发出，请等待');
        $('#message').show();
        setTimeout("$('#message').hide();", 3000);
        $.ajax({
            url: '/add_by_name',
            type: 'GET',
            data: {
                'name': $('#id_name').val(),
            },
            success: function (arg) {
                window.location = "/music"
            }
        });
        $('#id_name').val('');
    }
    function updateProgress(){
        let p = $('#id_progress');
        p.val(p.val()+1);
        if(p.attr('max') - p.attr('value') < 1){
            setTimeout("window.location = '/music';", 3000);
        }
    }
    setInterval("updateProgress();", 1000);
</script>
{% endblock %}